/*
Specify the relevant config based on execution context
*/

params.container = "mhoeppner/outbreak-monitoring"


profiles {

	standard {
		includeConfig 'config/base.config'
		includeConfig 'config/rzcluster.config'
	}

}

/***********************
    Pipeline Info
 **********************/

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.html"
}
report {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.html"
}
trace {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.txt"
}
dag {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.svg"
}

manifest {
        homePage = 'https://github.com/marchoeppner/outbreak-monitoring.git'
        description = 'This pipeline processes and bins bacterial genome data for downstream analysis.'
        mainScript = 'main.nf'
        version = '1.0'
        nextflowVersion = '19.01.0'
}


filter_folder = "$baseDir/filter"
params.bloomfilter = "$filter_folder/Acinetobacter_baumannii.bf $filter_folder/Enterococcus_faecalis_V583.bf $filter_folder/Staphylococcus_aureus_NCTC8325.bf $filter_folder/Streptococcus_pneumoniae_R6.bf $filter_folder/Escherichia_coli_K12.bf $filter_folder/Klebsiella_pneumoniae.bf $filter_folder/Pseudomonas_aeruginosa_PAO1.bf $filter_folder/Enterobacter_cloacae.bf  $filter_folder/Enterococcus_faecium.bf $filter_folder/Klebsiella_oxytoca.bf $filter_folder/Serratia_marcescens.bf $filter_folder/Proteus_mirabilis.bf $filter_folder/Citrobacter_freundii.bf $filter_folder/Klebsiella_aerogenes.bf"
