/*
Specify the relevant config based on execution context
*/

params.container = "mhoeppner/outbreak-monitoring"


profiles {

	standard {
		includeConfig 'config/rzcluster.config'
	}

}

/***********************
    Pipeline Info
 **********************/

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.html"
}
report {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.html"
}
trace {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.txt"
}
dag {
        enabled = true
        file = "${params.outdir}/pipeline_info/outbreak-monitoring.svg"
}

manifest {
        homePage = 'https://github.com/marchoeppner/outbreak-monitoring.git'
        description = 'This pipeline processes and bins bacterial genome data for downstream analysis.'
        mainScript = 'main.nf'
        version = '1.0'
        nextflowVersion = '19.01.0'
}

