
params.outdir = "output"

params.pathoscope_index_dir="/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

singularity {
	enabled = true
	runOptions = "-B /ifs"
	cacheDir = "/ifs/data/nfs_share/ikmb_repository/singularity_cache/"
}

executor {

	name = "slurm"
	queueSize="50"

}

process {
	
	executor='slurm'
	queue='ikmb_a'
   	clusterOptions = { "--qos=ikmb_a" }
   	errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
   	maxRetries = 3
   	maxErrors = '-1'

}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 240.h
}

